*.o
.clang_complete
data
old
*.bin
*.out
misc
.idea/*
cmake-build-debug/*
build/*
test/*
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.code-workspace
.vscode/*
canopy
libcanopy
canopy_unit_test

